
@{
    ViewBag.Title = "mis_puntos";
    Layout = "~/Views/Shared/frontend_usuario.cshtml";
}

<h2>@ViewData["datos"]</h2>
@section SideBar{
    <li >
        <a href="~/usuariofron/miscontactos">
            <i class="pe-7s-graph"></i>
            <p>Mis Contactos</p>
        </a>
    </li>
    <li>
        <a href="~/usuariofron/puntos">
            <i class="pe-7s-graph"></i>
            <p>Agregar puntos</p>
        </a>
    </li>
    <li class="active">
        <a href="~/usuariofron/mis_puntos">
            <i class="pe-7s-graph"></i>
            <p>Mis puntos</p>
        </a>
    </li>
    <li>
        <a href="~/usuariofron/miscontactos">
            <i class="pe-7s-graph"></i>
            <p>Mensajes</p>
        </a>
    </li>

}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<style>
    #map_canvas {
    width: 500px;
    height: 400px;
    margin: 2em auto;
}
</style>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=falseplaces&key=AIzaSyCuiUJxL3eVPwCyGdf1P6g9TUQ4KW95YtA"></script>
<input  id="txt" value="@ViewData["datos"] "name="val"/>
<a>@ViewBag.mapa</a>
<div id="map_canvas"></div>
<script type="text/javascript">
    var markers;
    //$.ajax({
    //    url:"devolverpuntos",
    //    success: function (data) {
    //        console.log(data)
    //        markers = data;

    //        initializeMaps();
    //    }

    //})

    
    
    function initializeMaps() {
        var myOptions = {
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            mapTypeControl: false
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        var infowindow = new google.maps.InfoWindow();
        var marker, i;
        var bounds = new google.maps.LatLngBounds();

        for (i = 0; i < markers.length; i++) {
            var pos = new google.maps.LatLng(markers[i][1], markers[i][2]);
            bounds.extend(pos);
            marker = new google.maps.Marker({
                position: pos,
                map: map
            });
            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(markers[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
        map.fitBounds(bounds);
    }

    
    
</script>
