
@{
    ViewBag.Title = "miscontactos";
    Layout = "~/Views/Shared/frontend_usuario.cshtml";
}

<h2>miscontactos</h2>



@section SideBar{
    <li class="active">
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>Mis Contactos</p>
        </a>
    </li>
    <li >
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>@Html.ActionLink("Agregar puntos", "puntos", "usuariofron")</p>
        </a>
    </li>
    <li >
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>Mis puntos</p>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>Mensajes</p>
        </a>
    </li>

}



