
@{
    ViewBag.Title = "miscontactos";
    Layout = "~/Views/Shared/frontend_usuario.cshtml";
}

<h2>miscontactos</h2>



@section SideBar{
    <li>
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>Mis Perfil</p>
        </a>
    </li>
    <li class="active">
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>Mis Contactos</p>
        </a>
    </li>
    <li >
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>Agregar puntos</p>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>Perfil</p>
        </a>
    </li>
}



