
@{
    ViewBag.Title = "prueva";
    Layout = "~/Views/Shared/frontend_usuario.cshtml";
}

<h2>prueva</h2>

@section SideBar{
    <li>
        <a href="~/usuariofron/miscontactos">
            <i class="pe-7s-graph"></i>
            <p>Mis Contactos</p>
        </a>
    </li>

    <li>
        <a data-toggle="collapse" href="#formsExamples">
            <i class="pe-7s-note2"></i>
            <p>
                Puntos de peligro
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse in" id="formsExamples">
            <ul class="nav">
                <li class="active">
                    <a href="~/usuariofron/puntos">
                        <i class="pe-7s-graph"></i>
                        <p>Agregar puntos</p>
                    </a>


                </li>
                <li>
                    <a href="~/usuariofron/mis_puntos">
                        <i class="pe-7s-graph"></i>
                        <p>Mis puntos</p>
                    </a>
                </li>


            </ul>
        </div>
    </li>
    <li>
        <a data-toggle="collapse" href="#formsExamples">
            <i class="pe-7s-note2"></i>
            <p>
                Forms
                <b class="caret"></b>
            </p>
        </a>

    </li>

    <li>
        <a href="~/usuariofron/miscontactos">
            <i class="pe-7s-graph"></i>
            <p>Mensajes</p>
        </a>
    </li>

}
<div id="vista"></div>
<script>
    (function () {
        $('#vista').load('/usuariofron/parcial');
    }());
</script>