
@{
    ViewBag.Title = "puntos_usuario";
    Layout = "~/Views/Shared/frontend_usuario.cshtml";
}


@section SideBar{
    <li>

        <a data-toggle="collapse" href="#tablesExamples">
            <i class="pe-7s-news-paper"></i>
            <p>
                Puntos de peligro
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tablesExamples">
            <ul class="nav">
                <li>

                    <a href="~/usuariofron/puntos">
                        <span class="sidebar-mini">RT</span>
                        <span class="sidebar-normal">Agregar puntos</span>
                    </a>
                </li>
                <li>
                    <a href="~/usuariofron/mis_puntos">
                        <span class="sidebar-mini">ET</span>
                        <span class="sidebar-normal">Todos los puntos</span>
                    </a>
                </li>
                <li  class="active">
                    <a href="~/usuariofron/puntos_usuario">
                        <span class="sidebar-mini">OD</span>
                        <span class="sidebar-normal">Mis puntos</span>
                    </a>
                </li>



            </ul>
        </div>
    </li>

    @*<li>
            <a href="~/usuariofron/miscontactos">
                <i class="pe-7s-graph"></i>
                <p>Mis Contactos</p>
            </a>
        </li>*@


    @*<li>
            <a href="~/usuariofron/mensajes">
                <i class="pe-7s-graph"></i>
                <p>Mensajes</p>
            </a>
        </li>*@

}

