
@{
    ViewBag.Title = "aprovados";
    Layout = "~/Views/Shared/IndexBackEndMaster.cshtml";
}

<h2>aprovados</h2>

<div id="apro"></div>

<script >
(function(){
    $('#apro').load('/IndexBackEndMaster/parcial_aprovados')
}());
</script>
 