
@{
    ViewBag.Title = "aprovados";
    Layout = "~/Views/Shared/IndexBackEndMaster.cshtml";
}@section Sideusu{
    <div class="collapse" id="collapseExample">
        <ul class="nav">
            <li class="active">
                <a href="@Url.Action("EditarPerfilAdmin", "VBackend")">
                    <span class="sidebar-mini">EP</span>
                    <span class="sidebar-normal">Editar Perfil</span>
                </a>
            </li>
        </ul>
    </div>
}

@section SideBar{
    <li>
        <a href="~/VBackend/estadisticas">
            <i class="pe-7s-graph"></i>
            <p>Inicio</p>
        </a>
    </li>
    <li>


        <a href="~/VBackend/Mapa_admin">
            <i class="pe-7s-graph"></i>
            <p>Mapa</p>
        </a>
    </li>
    <li>
        <a data-toggle="collapse" href="#tablesExamples">
            <i class="pe-7s-news-paper"></i>
            <p>
                Gestion de Puntos
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tablesExamples">
            <ul class="nav">
                <li>
                    <a href="~/VBackend/ListaDePuntosM">
                        <span class="sidebar-mini">RT</span>
                        <span class="sidebar-normal">Aprovar Puntos</span>
                    </a>
                </li>
                <li>
                    <a href="~/VBackend/no_aprovados">
                        <span class="sidebar-mini">ET</span>
                        <span class="sidebar-normal">Puntos Aprovados</span>
                    </a>
                </li>
                <li>
                    <a href="~/VBackend/tiposdepeligro">
                        <span class="sidebar-mini">RT</span>
                        <span class="sidebar-normal">Tipos De delitos</span>
                    </a>
                </li>

            </ul>
        </div>
    </li>
    <li>
        <a data-toggle="collapse" href="#tablesExamples1">
            <i class="pe-7s-news-paper"></i>
            <p>
                Configuración
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tablesExamples1">
            <ul class="nav">

                <li>
                    <a href="~/VBackend/ConfiguracionIndex">
                        <span class="sidebar-mini">RT</span>
                        <span class="sidebar-normal">Index</span>
                    </a>
                </li>
                <li>
                    <a href="~/VBackend/listadeusuarios">
                        <span class="sidebar-mini">ET</span>
                        <span class="sidebar-normal">Lista de usuarios</span>
                    </a>
                </li>

                <li>
                    <a href="~/VBackend/Backud">
                        <span class="sidebar-mini">ET</span>
                        <span class="sidebar-normal">Backup</span>
                    </a>
                </li>

            </ul>
        </div>
    </li>
    <li>
        <a data-toggle="collapse" href="#tablesExamples2">
            <i class="pe-7s-news-paper"></i>
            <p>
                Mensajeria
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tablesExamples2">
            <ul class="nav">

                <li>
                    <a href="~/VBackend/mensajes">
                        <span class="sidebar-mini">RT</span>
                        <span class="sidebar-normal">Mensajes</span>
                    </a>
                </li>
                <li>
                    <a href="~/VBackend/buzon_de_sugerencias">
                        <span class="sidebar-mini">ET</span>
                        <span class="sidebar-normal">Buzón de Sugerencias</span>
                    </a>
                </li>


            </ul>
        </div>
    </li>
    <li>
        <a data-toggle="collapse" href="#tablesExamples3">
            <i class="pe-7s-news-paper"></i>
            <p>
                Reportes
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tablesExamples3">
            <ul class="nav">

                <li>
                    <a href="~/VBackend/Reporte_peligros">
                        <span class="sidebar-mini">RT</span>
                        <span class="sidebar-normal">Reporte de peligros </span>
                    </a>
                </li>
                <li>
                    <a href="~/VBackend/reporte_usuarios">
                        <span class="sidebar-mini">ET</span>
                        <span class="sidebar-normal">Reporte de usuarios</span>
                    </a>
                </li>


            </ul>
        </div>
    </li>

}






<h2>aprovados</h2>

<div id="apro"></div>

<script >
(function(){
    $('#apro').load('/VBackend/parcial_aprovados')
}());

 function actualizar_apro (id)
{
     $.ajax({
         url: 'Actualizar_apro/',
         data:{id:id},
     }).done(function () {
         $('#apro').load('/VBackend/parcial_aprovados')
     }
         )

}

    /* function eliminar(id) {
        $.ajax({
            url: 'eliminar/',
            data: { id: id },


        }).done(function () {
            $('#vista').load('/usuariofron/parcial')
        }
        )
    }*/




</script>
 