
@{
    ViewBag.Title = "Backud";
    Layout = "~/Views/Shared/IndexBackEndMaster.cshtml";
}


<div class="col-md-12">
    <div class="card">
        <div class="content text-center">
            
            <button class="btn btn-default btn-block" data-toggle="modal" data-target="#BAK">Generar backup</button>

         </div>
    </div>
</div>

<div  id="BAK"  role="dialog" aria-modal="true" aria-labelledby="swal2-title" aria-describedby="swal2-content" class="modal fade swal2-modal swal2-show " tabindex="-1" style="width: 500px; padding: 20px; background: rgb(255, 255, 255); display: block;"><ul class="swal2-progresssteps" style="display: none;"></ul><div class="swal2-icon swal2-error" style="display: none;"><span class="swal2-x-mark"><span class="swal2-x-mark-line-left"></span><span class="swal2-x-mark-line-right"></span></span></div><div class="swal2-icon swal2-question" style="display: none;">?</div><div class="swal2-icon swal2-warning" style="display: none;">!</div><div class="swal2-icon swal2-info" style="display: none;">i</div><div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: block;"><div class="swal2-success-circular-line-left" style="background: rgb(255, 255, 255);"></div><span class="swal2-success-line-tip swal2-animate-success-line-tip"></span> <span class="swal2-success-line-long swal2-animate-success-line-long"></span><div class="swal2-success-ring"></div> <div class="swal2-success-fix" style="background: rgb(255, 255, 255);"></div><div class="swal2-success-circular-line-right" style="background: rgb(255, 255, 255);"></div></div><img class="swal2-image" style="display: none;"><h2 class="swal2-title" id="swal2-title">Base Generada en:C:\Download\ProyectoSOS.BAK</h2><div id="swal2-content" class="swal2-content" style="display: block;"></div><input class="swal2-input" style="display: none;"><input type="file" class="swal2-file" style="display: none;"><div class="swal2-range" style="display: none;"><output></output><input type="range"></div><select class="swal2-select" style="display: none;"></select><div class="swal2-radio" style="display: none;"></div><label for="swal2-checkbox" class="swal2-checkbox" style="display: none;"><input type="checkbox"></label><textarea class="swal2-textarea" style="display: none;"></textarea><div class="swal2-validationerror" id="swal2-validationerror" style="display: none;"></div><div class="swal2-buttonswrapper" style="display: block;"><button type="button" class="swal2-confirm btn btn-success btn-fill" aria-label="">OK</button><button type="button" class="swal2-cancel" aria-label="" style="display: none;">Cancel</button></div><button type="button" class="swal2-close" style="display: none;">×</button></div>

@section Sideusu{
    <div class="collapse" id="collapseExample">
        <ul class="nav">
            <li class="active">
                <a href="~/VBackend/PerfilAdmin">
                    <span class="sidebar-mini">EP</span>
                    <span class="sidebar-normal">Editar Perfil</span>
                </a>
            </li>
        </ul>
    </div>
}

@section SideBar{
    <li class="active">
        <a href="~/VBackend/estadisticas">
            <i class="pe-7s-global"></i>
            <p>Inicio</p>
        </a>
    </li>
    <li>


        <a href="~/VBackend/Mapa_admin">
            <i class="pe-7s-map-2"></i>
            <p>Mapa</p>
        </a>
    </li>
    <li>
        <a data-toggle="collapse" href="#tablesExamples">
            <i class="pe-7s-map-marker"></i>
            <p>
                Gestion de Puntos
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tablesExamples">
            <ul class="nav">
                <li>
                    <a href="~/VBackend/ListaDePuntosM">
                        <span class="sidebar-mini"><i class="pe-7s-like2"></i></span>
                        <span class="sidebar-normal">Aprovar Puntos</span>
                    </a>
                </li>
                <li>
                    <a href="~/VBackend/PuntosAprovados">
                        <span class="sidebar-mini"><i class="pe-7s-check"></i></span>
                        <span class="sidebar-normal">Puntos Aprovados</span>
                    </a>
                </li>
                <li>
                    <a href="~/VBackend/tiposdepeligro">
                        <span class="sidebar-mini"><i class="pe-7s-map"></i></span>
                        <span class="sidebar-normal">Tipos De delitos</span>
                    </a>
                </li>

            </ul>
        </div>
    </li>
    <li>
        <a data-toggle="collapse" href="#tablesExamples1">
            <i class="pe-7s-config"></i>
            <p>
                Configuración
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tablesExamples1">
            <ul class="nav">

                <li>
                    <a href="~/VBackend/ConfiguracionIndex">
                        <span class="sidebar-mini"><i class="pe-7s-home"></i></span>
                        <span class="sidebar-normal">Index</span>
                    </a>
                </li>
              

                <li>
                    <a href="~/VBackend/Backud">
                        <span class="sidebar-mini"><i class="pe-7s-server"></i></span>
                        <span class="sidebar-normal">Backup</span>
                    </a>
                </li>

            </ul>
        </div>
    </li>
    @*<li>
            <a data-toggle="collapse" href="#tablesExamples2">
                <i class="pe-7s-mail"></i>
                <p>
                    Mensajeria
                    <b class="caret"></b>
                </p>
            </a>
            <div class="collapse" id="tablesExamples2">
                <ul class="nav">

                    <li>
                        <a href="~/VBackend/mensajes">
                            <span class="sidebar-mini"><i class="pe-7s-mail-open-file"></i></span>
                            <span class="sidebar-normal">Mensajes</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/VBackend/buzon_de_sugerencias">
                            <span class="sidebar-mini"><i class="pe-7s-portfolio"></i></span>
                            <span class="sidebar-normal">Buzón de Sugerencias</span>
                        </a>
                    </li>


                </ul>
            </div>
        </li>*@
    <li>
        <a data-toggle="collapse" href="#tablesExamples3">
            <i class="pe-7s-graph2"></i>
            <p>
                Reportes
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tablesExamples3">
            <ul class="nav">

                <li>
                    <a href="~/VBackend/Reporte_peligros">
                        <span class="sidebar-mini"><i class="pe-7s-graph1"></i></span>
                        <span class="sidebar-normal">Reporte de peligros </span>
                    </a>
                </li>
                <li>
                    <a href="~/VBackend/reporte_usuarios">
                        <span class="sidebar-mini"><i class="pe-7s-portfolio"></i></span>
                        <span class="sidebar-normal">Reporte de usuarios</span>
                    </a>
                </li>


            </ul>
        </div>
    </li>

}

<script>
    $(document).ready(function () {
        $("#enlaceajax").click(function (evento) {
            //elimino el comportamiento por defecto del enlace
            evento.preventDefault();
            //Aquí pondría el código de la llamada a Ajax
        });
    })



</script>




