
@{
    ViewBag.Title = "estadisticas";
    Layout = "~/Views/Shared/IndexBackEndMaster.cshtml";
}
@section Sideusu{
    <div class="collapse" id="collapseExample">
        <ul class="nav">
            <li class="active">
                <a href="@Url.Action("EditarPerfilAdmin", "VBackend")">
                    <span class="sidebar-mini">EP</span>
                    <span class="sidebar-normal">Editar Perfil</span>
                </a>
            </li>
        </ul>
    </div>
}

@section SideBar{
    <li class="active">
    <a href="~/VBackend/estadisticas">
        <i class="pe-7s-graph"></i>
        <p>Inicio</p>
    </a>
</li>

    <li>


        <a href="~/VBackend/Mapa_admin">
            <i class="pe-7s-graph"></i>
            <p>Mapa</p>
        </a>
    </li>
    <li>

        <a data-toggle="collapse" href="#tablesExamples">
            <i class="pe-7s-news-paper"></i>
            <p>
                Gestion de Puntos
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tablesExamples">
            <ul class="nav">
                <li>
                    <a href="~/VBackend/aprovados">
                        <span class="sidebar-mini">RT</span>
                        <span class="sidebar-normal">Aprovar Puntos</span>
                    </a>
                </li>
                <li>
                    <a href="~/VBackend/no_aprovados">
                        <span class="sidebar-mini">ET</span>
                        <span class="sidebar-normal">Puntos Aprovados</span>
                    </a>
                </li>
                <li>
                    <a href="~/VBackend/tiposdepeligro">
                        <span class="sidebar-mini">RT</span>
                        <span class="sidebar-normal">Tipos De delitos</span>
                    </a>
                </li>
           
            </ul>
        </div>
    </li>
<li>
    <a data-toggle="collapse" href="#tablesExamples1">
        <i class="pe-7s-news-paper"></i>
        <p>
           Configuración
            <b class="caret"></b>
        </p>
    </a>
    <div class="collapse" id="tablesExamples1">
        <ul class="nav">
         
            <li>
                <a href="~/VBackend/ConfiguracionIndex">
                    <span class="sidebar-mini">RT</span>
                    <span class="sidebar-normal">Index</span>
                </a>
            </li>
            <li>
                <a href="~/VBackend/listadeusuarios">
                    <span class="sidebar-mini">ET</span>
                    <span class="sidebar-normal">Lista de usuarios</span>
                </a>
            </li>
           
            <li>
                <a href="~/VBackend/Backud">
                    <span class="sidebar-mini">ET</span>
                    <span class="sidebar-normal">Backup</span>
                </a>
            </li>

        </ul>
    </div>
</li>
<li>
    <a data-toggle="collapse" href="#tablesExamples2">
        <i class="pe-7s-news-paper"></i>
        <p>
            Mensajeria
            <b class="caret"></b>
        </p>
    </a>
    <div class="collapse" id="tablesExamples2">
        <ul class="nav">

            <li>
                <a href="~/VBackend/mensajes">
                    <span class="sidebar-mini">RT</span>
                    <span class="sidebar-normal">Mensajes</span>
                </a>
            </li>
            <li>
                <a href="~/VBackend/buzon_de_sugerencias">
                    <span class="sidebar-mini">ET</span>
                    <span class="sidebar-normal">Buzón de Sugerencias</span>
                </a>
            </li>
           

        </ul>
    </div>
</li>
<li>
    <a data-toggle="collapse" href="#tablesExamples3">
        <i class="pe-7s-news-paper"></i>
        <p>
            Reportes
            <b class="caret"></b>
        </p>
    </a>
    <div class="collapse" id="tablesExamples3">
        <ul class="nav">

            <li>
                <a href="~/VBackend/Reporte_peligros">
                    <span class="sidebar-mini">RT</span>
                    <span class="sidebar-normal">Reporte de peligros </span>
                </a>
            </li>
            <li>
                <a href="~/VBackend/reporte_usuarios">
                    <span class="sidebar-mini">ET</span>
                    <span class="sidebar-normal">Reporte de usuarios</span>
                </a>
            </li>


        </ul>
    </div>
</li>
    
}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="header">
                Public Preferences
                <p class="category">Pie Chart</p>
            </div>
            <div id="donutchart"
                 style="width:500px;height:455px;"></div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="header">
                Public Preferences
                <p class="category">Pie Chart</p>
            </div>
            <div id="piechart"
                 style="width:500px;height:455px;"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script> 
<script type="text/javascript">
    
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      var markers;
      $.ajax({
          url: "/usuariofron/devolverchar",
          success: function (data) {
              var array = [['Task', 'Hours per Day'],]
              for (var i = 0; i < data.length; i++) {
                  array.push([data[i]["nombre"], data[i]["total"]])
              }
              markers = array;

              drawChart()
          }

      })

      function drawChart() {

        var data = google.visualization.arrayToDataTable(markers);

        var options = {
          title: 'My Daily Activities'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
</script>
   
@*<script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      var datos = [['Language', 'Speakers (in millions)'],
            ['Assamese', 13], ['Bengali', 83], ['Bodo', 1.4],
            ['Dogri', 2.3], ['Gujarati', 46], ['Hindi', 300],
            ['Kannada', 38], ['Kashmiri', 5.5], ['Konkani', 5],
            ['Maithili', 20], ['Malayalam', 33], ['Manipuri', 1.5],
            ['Marathi', 72], ['Nepali', 2.9], ['Oriya', 33],
            ['Punjabi', 29], ['Sanskrit', 0.01], ['Santhali', 6.5],
            ['Sindhi', 2.5], ['Tamil', 61], ['Telugu', 74], ['Urdu', 52]]
      function drawChart() {
        var data = google.visualization.arrayToDataTable(datos
         
        );

        var options = {
          title: 'Indian Language Use',
          legend: 'none',
          pieSliceText: 'label',
          slices: {  4: {offset: 0.2},
                    12: {offset: 0.3},
                    14: {offset: 0.4},
                    15: {offset: 0.5},
          },
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart1'));
        chart.draw(data, options);
      }
</script>*@
@*<script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);
     
      var datos = [[ 'qqaaa','aprovados', 'No aprovados'],
            [ 1000, 400],
            [ 1170, 460],
            [660, 1120],
            [ 1030, 540]]
      function drawChart() {
        var data = google.visualization.arrayToDataTable(datos
       
        );

        var options = {
          chart: {
            title: 'Company Performance',
            subtitle: 'Sales, Expenses, and Profit: 2014-2017',
          },
          bars: 'horizontal' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('barchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
</script>*@
<script>
//google.load("visualization", "1", {packages:["corechart"]});
//google.setOnLoadCallback(drawChart);
//var markers1;
//$.ajax({
//    url: "/VBackend/devolverpuntos_barras",
//    success: function (data) {
//            var array = [['Task', 'Hours per Day'], ]
    
       
//                array.push(['Aprovados', data[0]["aprovados"]])
//    array.push(['no aprovados', data[0]["no_aprovados"]])
        
//        markers1 = array;

//        drawChart()
//    }

//})
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    var markers1;
    $.ajax({
        url: "/VBackend/devolverpuntos_barras",
        success: function (data1) {
            var array1 = [['Task', 'Hours per Day'], ]


            array1.push(['No Aprovados', data1[0]["aprovados"]])
            array1.push(['Aprovados', data1[0]["no_aprovados"]])

            markers1 = array1;

            drawChart()
        }

    })
    function drawChart() {
        var data = google.visualization.arrayToDataTable(markers1);

        var options = {
            title: 'My Daily Activities',
            pieHole: 0.4,
            chartArea: { left: '100' },
            pieSliceText: 'label',
            pieStartAngle: 0,
            pieSliceTextStyle: { color: 'white', fontName: 'arial', fontSize: 10 }
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
    }
</script>