
@{
    ViewBag.Title = "inicio";
    Layout = "~/Views/Shared/IndexBackEndMaster.cshtml";
}

<h2>inicio</h2>


@section SideBar{
    <li>
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>Inicio</p>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>Gestion puntos</p>
        </a>
    </li>
    <li >
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>Gestión de vistas</p>
        </a>
    </li>
<li class="active">
    <a href="#">
        <i class="pe-7s-graph"></i>
        <p>Gestión de Actividad</p>
    </a>
</li>
    <li>
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>Mensajes</p>
        </a>
    </li>
<li>
    <a href="#">
        <i class="pe-7s-graph"></i>
        <p>Reportes</p>
    </a>
</li>
<li>
    <a href="#">
        <i class="pe-7s-graph"></i>
        <p>backup</p>
    </a>
</li>
}

