
@{
    ViewBag.Title = "inicio";
    Layout = "~/Views/Shared/IndexBackEndMaster.cshtml";
}

<h2>inicio</h2>
@section Sideusu{
    <div class="collapse" id="collapseExample">
        <ul class="nav">
            <li>
                <a href="#">
                    <span class="sidebar-mini">MP</span>
                    <span class="sidebar-normal">Perfil</span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("EditarPerfilAdmin", "VBackend")">
                    <span class="sidebar-mini">EP</span>
                    <span class="sidebar-normal">Editar Perfil</span>
                </a>
            </li>

            <li>
                <a href="#pablo">
                    <span class="sidebar-mini">S</span>
                    <span class="sidebar-normal">Settings</span>
                </a>
            </li>
        </ul>
    </div>
}

@section SideBar{
    <li class="active" >
        <a>
            <i class="pe-7s-graph"></i>
            <p>Inicio</p>
        </a>
    </li>
    <li>
        
        <a  id="enlaceajax" href="@Url.Action("Vprueba", "VBackend")">
            <i class="pe-7s-graph"></i>
            <p>Gestion puntos</p>
        </a>
    </li>
    <li >bgbb0h
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>Gestión de vistas</p>
        </a>
    </li>
<li >
    <a href="#">
        <i class="pe-7s-graph"></i>
        <p>Gestión de Actividad</p>
    </a>
</li>
    <li>
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>Mensajes</p>
        </a>
    </li>
<li>
    <a href="#">
        <i class="pe-7s-graph"></i>
        <p>Reportes</p>
    </a>
</li>
<li>
    <a href="#">
        <i class="pe-7s-graph"></i>
        <p>backup</p>
    </a>
</li>
}

<script>
    $(document).ready(function () {
        $("#enlaceajax").click(function (evento) {
            //elimino el comportamiento por defecto del enlace
            evento.preventDefault();
            //Aquí pondría el código de la llamada a Ajax
        });
    })



</script>


