@using Proyecto.BO;
@model mensajeBO
@{
    ViewBag.Title = "mensajes";
    Layout = "~/Views/Shared/IndexBackEndMaster.cshtml";
}

<h2>mensajes</h2>

@section Sideusu{
    <div class="collapse" id="collapseExample">
        <ul class="nav">
            <li class="active">
                <a href="@Url.Action("EditarPerfilAdmin", "VBackend")">
                    <span class="sidebar-mini">EP</span>
                    <span class="sidebar-normal">Editar Perfil</span>
                </a>
            </li>
        </ul>
    </div>
}

@section SideBar{
    <li class="active">
    <a href="~/VBackend/estadisticas">
        <i class="pe-7s-global"></i>
        <p>Inicio</p>
    </a>
</li>
<li>


    <a href="~/VBackend/Mapa_admin">
        <i class="pe-7s-map-2"></i>
        <p>Mapa</p>
    </a>
</li>
<li>
    <a data-toggle="collapse" href="#tablesExamples">
        <i class="pe-7s-map-marker"></i>
        <p>
            Gestion de Puntos
            <b class="caret"></b>
        </p>
    </a>
    <div class="collapse" id="tablesExamples">
        <ul class="nav">
            <li>
                <a href="~/VBackend/ListaDePuntosM">
                    <span class="sidebar-mini"><i class="pe-7s-like2"></i></span>
                    <span class="sidebar-normal">Aprovar Puntos</span>
                </a>
            </li>
            <li>
                <a href="~/VBackend/PuntosAprovados">
                    <span class="sidebar-mini"><i class="pe-7s-check"></i></span>
                    <span class="sidebar-normal">Puntos Aprovados</span>
                </a>
            </li>
            <li>
                <a href="~/VBackend/tiposdepeligro">
                    <span class="sidebar-mini"><i class="pe-7s-map"></i></span>
                    <span class="sidebar-normal">Tipos De delitos</span>
                </a>
            </li>

        </ul>
    </div>
</li>
<li>
    <a data-toggle="collapse" href="#tablesExamples1">
        <i class="pe-7s-config"></i>
        <p>
            Configuración
            <b class="caret"></b>
        </p>
    </a>
    <div class="collapse" id="tablesExamples1">
        <ul class="nav">

            <li>
                <a href="~/VBackend/ConfiguracionIndex">
                    <span class="sidebar-mini"><i class="pe-7s-home"></i></span>
                    <span class="sidebar-normal">Index</span>
                </a>
            </li>
            <li>
                <a href="~/VBackend/listadeusuarios">
                    <span class="sidebar-mini"><i class="pe-7s-note2"></i></span>
                    <span class="sidebar-normal">Lista de usuarios</span>
                </a>
            </li>

            <li>
                <a href="~/VBackend/Backud">
                    <span class="sidebar-mini"><i class="pe-7s-server"></i></span>
                    <span class="sidebar-normal">Backup</span>
                </a>
            </li>

        </ul>
    </div>
</li>
<li>
    <a data-toggle="collapse" href="#tablesExamples2">
        <i class="pe-7s-mail"></i>
        <p>
            Mensajeria
            <b class="caret"></b>
        </p>
    </a>
    <div class="collapse" id="tablesExamples2">
        <ul class="nav">

            <li class="active">
                <a href="#">
                    <span class="sidebar-mini"><i class="pe-7s-mail-open-file"></i></span>
                    <span class="sidebar-normal">Mensajes</span>
                </a>
            </li>
            <li>
                <a href="~/VBackend/buzon_de_sugerencias">
                    <span class="sidebar-mini"><i class="pe-7s-portfolio"></i></span>
                    <span class="sidebar-normal">Buzón de Sugerencias</span>
                </a>
            </li>


        </ul>
    </div>
</li>
<li>
    <a data-toggle="collapse" href="#tablesExamples3">
        <i class="pe-7s-graph2"></i>
        <p>
            Reportes
            <b class="caret"></b>
        </p>
    </a>
    <div class="collapse" id="tablesExamples3">
        <ul class="nav">

            <li>
                <a href="~/VBackend/Reporte_peligros">
                    <span class="sidebar-mini"><i class="pe-7s-graph1"></i></span>
                    <span class="sidebar-normal">Reporte de peligros </span>
                </a>
            </li>
            <li>
                <a href="~/VBackend/reporte_usuarios">
                    <span class="sidebar-mini"><i class="pe-7s-portfolio"></i></span>
                    <span class="sidebar-normal">Reporte de usuarios</span>
                </a>
            </li>


        </ul>
    </div>
</li>

}



@using (Ajax.BeginForm("guardar_mensaje", "VBackend", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace }))

{
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p>kjkjkjkj</p>
        </div>
        <div class="col-md-8">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center header">Contact us</legend>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-6">
                               <div id="id_destinatario"></div>
                            </div>
                        </div>
                        

                       

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                            <div class="col-md-10">
                              
                                @Html.TextBoxFor(x => x.mensaje, new { @class = "form-control", @rows = "7" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                            
                                <input type="submit" class="btn-block" value="guadra" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        
    </div>
</div>
}
<script>

    (function () {
        $('#id_destinatario').load('/VBackend/parcia_drop_usuarios');
    }());
  </script>