
@{
    ViewBag.Title = "no_aprovados";
    Layout = "~/Views/Shared/IndexBackEndMaster.cshtml";
}

<h2>no_aprovados</h2>



<div id="noapro"></div>

<script>
(function(){
    $('#noapro').load('/IndexBackEndMaster/parcial_no_aprovados')
}());
</script>

