@using ReportViewerForMvc;
@{
    ViewBag.Title = "Reporte_peligros";
    Layout = "~/Views/Shared/IndexBackEndMaster.cshtml";
}
@section SideBar{
    <li>
        <a href="~/VBackend/estadisticas">
            <i class="pe-7s-global"></i>
            <p>Inicio</p>
        </a>
    </li>
    <li>


        <a href="~/VBackend/Mapa_admin">
            <i class="pe-7s-map-2"></i>
            <p>Mapa</p>
        </a>
    </li>
    <li>
        <a data-toggle="collapse" href="#tablesExamples">
            <i class="pe-7s-map-marker"></i>
            <p>
                Gestion de Puntos
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tablesExamples">
            <ul class="nav">
                <li>
                    <a href="~/VBackend/ListaDePuntosM">
                        <span class="sidebar-mini"><i class="pe-7s-like2"></i></span>
                        <span class="sidebar-normal">Aprobar Puntos</span>
                    </a>
                </li>
                <li>
                    <a href="~/VBackend/PuntosAprovados">
                        <span class="sidebar-mini"><i class="pe-7s-check"></i></span>
                        <span class="sidebar-normal">Puntos Aprobados</span>
                    </a>
                </li>
                <li>
                    <a href="~/VBackend/PuntosD">
                        <span class="sidebar-mini"><i class="pe-7s-junk"></i></span>
                        <span class="sidebar-normal">Puntos desaprobados</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <a data-toggle="collapse" href="#tablesExamples1">
            <i class="pe-7s-config"></i>
            <p>
                Configuración
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tablesExamples1">
            <ul class="nav">

                <li>
                    <a href="~/VBackend/ConfiguracionIndex">
                        <span class="sidebar-mini"><i class="pe-7s-home"></i></span>
                        <span class="sidebar-normal">Index</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <a data-toggle="collapse" href="#tablesExamples3">
            <i class="pe-7s-graph2"></i>
            <p>
                Reportes
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tablesExamples3">
            <ul class="nav">

                <li class="active">
                    <a href="~/VBackend/Reporte_peligros">
                        <span class="sidebar-mini"><i class="pe-7s-graph1"></i></span>
                        <span class="sidebar-normal">Reporte de incidencias</span>
                    </a>
                </li>
                <li>
                    <a href="~/VBackend/reporte_usuarios">
                        <span class="sidebar-mini"><i class="pe-7s-portfolio"></i></span>
                        <span class="sidebar-normal">Reporte de usuarios</span>
                    </a>
                </li>


            </ul>
        </div>
    </li>

}
@Html.ReportViewer(ViewBag.repo as Microsoft.Reporting.WebForms.ReportViewer)

