@using Proyecto.BO;
@model PeligroBO
@{
    ViewBag.Title = "tiposdepeligro";
    Layout = "~/Views/Shared/IndexBackEndMaster.cshtml";
}


@section Sideusu{
    <div class="collapse" id="collapseExample">
        <ul class="nav">
            <li class="active">
                <a href="@Url.Action("EditarPerfilAdmin", "VBackend")">
                    <span class="sidebar-mini">EP</span>
                    <span class="sidebar-normal">Editar Perfil</span>
                </a>
            </li>
        </ul>
    </div>
}

@section SideBar{
    <li>
        <a href="~/VBackend/estadisticas">
            <i class="pe-7s-global"></i>
            <p>Inicio</p>
        </a>
    </li>
    <li>


        <a href="~/VBackend/Mapa_admin">
            <i class="pe-7s-map-2"></i>
            <p>Mapa</p>
        </a>
    </li>
    <li>
        <a data-toggle="collapse" href="#tablesExamples">
            <i class="pe-7s-map-marker"></i>
            <p>
                Gestion de Puntos
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tablesExamples">
            <ul class="nav">
                <li>
                    <a href="~/VBackend/ListaDePuntosM">
                        <span class="sidebar-mini"><i class="pe-7s-like2"></i></span>
                        <span class="sidebar-normal">Aprovar Puntos</span>
                    </a>
                </li>
                <li>
                    <a href="~/VBackend/PuntosAprovados">
                        <span class="sidebar-mini"><i class="pe-7s-check"></i></span>
                        <span class="sidebar-normal">Puntos Aprovados</span>
                    </a>
                </li>
                <li class="active">
                    <a href="~/VBackend/tiposdepeligro">
                        <span class="sidebar-mini"><i class="pe-7s-map"></i></span>
                        <span class="sidebar-normal">Tipos De delitos</span>
                    </a>
                </li>

            </ul>
        </div>
    </li>
    <li>
        <a data-toggle="collapse" href="#tablesExamples1">
            <i class="pe-7s-config"></i>
            <p>
                Configuración
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tablesExamples1">
            <ul class="nav">

                <li>
                    <a href="~/VBackend/ConfiguracionIndex">
                        <span class="sidebar-mini"><i class="pe-7s-home"></i></span>
                        <span class="sidebar-normal">Index</span>
                    </a>
                </li>
                <li>
                    <a href="~/VBackend/listadeusuarios">
                        <span class="sidebar-mini"><i class="pe-7s-note2"></i></span>
                        <span class="sidebar-normal">Lista de usuarios</span>
                    </a>
                </li>

                <li>
                    <a href="~/VBackend/Backud">
                        <span class="sidebar-mini"><i class="pe-7s-server"></i></span>
                        <span class="sidebar-normal">Backup</span>
                    </a>
                </li>

            </ul>
        </div>
    </li>
    @*<li>
            <a data-toggle="collapse" href="#tablesExamples2">
                <i class="pe-7s-mail"></i>
                <p>
                    Mensajeria
                    <b class="caret"></b>
                </p>
            </a>
            <div class="collapse" id="tablesExamples2">
                <ul class="nav">

                    <li>
                        <a href="~/VBackend/mensajes">
                            <span class="sidebar-mini"><i class="pe-7s-mail-open-file"></i></span>
                            <span class="sidebar-normal">Mensajes</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/VBackend/buzon_de_sugerencias">
                            <span class="sidebar-mini"><i class="pe-7s-portfolio"></i></span>
                            <span class="sidebar-normal">Buzón de Sugerencias</span>
                        </a>
                    </li>


                </ul>
            </div>
        </li>*@
    <li>
        <a data-toggle="collapse" href="#tablesExamples3">
            <i class="pe-7s-graph2"></i>
            <p>
                Reportes
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tablesExamples3">
            <ul class="nav">

                <li>
                    <a href="~/VBackend/Reporte_peligros">
                        <span class="sidebar-mini"><i class="pe-7s-graph1"></i></span>
                        <span class="sidebar-normal">Reporte de peligros </span>
                    </a>
                </li>
                <li>
                    <a href="~/VBackend/reporte_usuarios">
                        <span class="sidebar-mini"><i class="pe-7s-portfolio"></i></span>
                        <span class="sidebar-normal">Reporte de usuarios</span>
                    </a>
                </li>


            </ul>
        </div>
    </li>

}

@*@using (Ajax.BeginForm("Guardar_puntos", "usuariofron",   new AjaxOptions {  HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "sel_crimen", OnSuccess = "limpiar()" }))*@
@using (Ajax.BeginForm("guardar_peligro", "VBackend", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace }))
{
    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">

                            @Html.HiddenFor(x => x.id)
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Tipo de peligro</label>
                                        @Html.TextBoxFor(x => x.tipo, new { @class = "form-control" })
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @*> 0 ? "Editar Alumno: "+ Model.nombre + " " + Model.ape_paterno : "Nuevo usuario"*@
                                            <button type="submit" class="btn btn-info btn-fill pull-left">Guardar</button>
                                        </div>
                                        




                                    </div>

                                </div>
                            </div>
                        </div>
                    
            </div>
                </div>
            </div>
        
</form>
    <div class="row">
        <div class="col-lg-12">
            <div class="card ">
                <div  class="nav-align-center"id="apro"></div>
            </div>

        </div>
    </div>
}
<script>
(function(){
    $('#apro').load('/VBackend/parcial_peligros')
}());

function eliminar(id)
{
     $.ajax({
         url: 'Borrar_peligro/',
         data:{id:id},
     }).done(function () {
         $('#apro').load('/VBackend/parcial_peligros')
     }
         )

}
 function llenardatos(id,peligro) {
     //var dt = new date();
     // fecha.format("dd-mmm-yyyy");
     $('#id').val(id);
     $('#tipo').val(peligro);
  


 }
    




</script>
