
@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/IndexBackEndMaster.cshtml";
}

<h2>Usuario</h2>

@section SideBar{
    <li class="active">
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>Inicio</p>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>Perfil</p>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>Perfil</p>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="pe-7s-graph"></i>
            <p>Perfil</p>
        </a>
    </li>
}
