
@{
    ViewBag.Title = "Vprueba";
    Layout = "~/Views/Shared/IndexBackEndMaster.cshtml";
}

@section SideBar{
<li class="active">
    <a href="#">
        <i class="pe-7s-graph"></i>
        <p>Inicio</p>
    </a>
</li>
<li>
    <a href="#">
        <i class="pe-7s-graph"></i>
        <p>Perfil</p>
    </a>
</li>
<li>
    <a href="#">
        <i class="pe-7s-graph"></i>
        <p>Perfil</p>
    </a>
</li>
<li>
    <a href="#">
        <i class="pe-7s-graph"></i>
        <p>Perfil</p>
    </a>
</li>
    }