@using Proyecto.BO;
@model usuarioBO

@{
    ViewBag.Title = "inicio";
}

<div class="title">
    <h2>INFORMACION</h2>
</div>
   
    <div class="section section-download">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="info">
                        <div class="icon icon-primary">
                            <i class="material-icons">comment</i>

                        </div>
                    </div>
                    <h2>Que es la app</h2>
                    <h4>Informacion acerca de la app, el porque se realizo, algunas de sus funcionalidades en un pequeño resumen</h4>
                </div>
                <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
                    <a href="http://www.creative-tim.com/product/material-kit" class="btn btn-primary btn-lg">
                        <i class="material-icons">cloud_download</i> DESCARGAR
                    </a>
                </div>
            </div>
            <br><br>
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="info">
                        <div class="icon icon-primary">
                            <i class="material-icons">comment</i>

                        </div>
                    </div>

                    <h2>EL PORQUE DESCARGAR</h2>

                    <h4>Informacion sobre los beneficios de tener un cuenta y poder registrarse</h4>
                </div>
                <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
                    <a href="http://demos.creative-tim.com/material-kit-pro/presentation.html?ref=utp-freebie" class="btn btn-upgrade btn-lg" target="_blank">
                        <i class="material-icons">unarchive</i> Iniciar Ahora
                    </a>
                </div>
            </div>
            <div class="row sharing-area text-center">
                <h3>Breve informacion sobre los desarrolladores</h3>
                <a href="#" class="btn btn-twitter">
                    <i class="fa fa-twitter"></i>
                    Tweet
                </a>
                <a href="#" class="btn btn-facebook">
                    <i class="fa fa-facebook-square"></i>
                    Share
                </a>
                <a href="#" class="btn btn-google-plus">
                    <i class="fa fa-google-plus"></i>
                    Share
                </a>
                <a href="#" class="btn btn-github">
                    <i class="fa fa-github"></i>
                    Star
                </a>
            </div>
        </div>
    </div>
